# Capstone Exploration
### by Jan Allen Pasia

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
prices_df = pd.read_csv('data/damarketprices2013.csv')
prices_df

,date,name_of_market,comodity,price/kg.
0,11/11/2013,"Batangas City Public Market, Batangas","Ampalaya Fruit, Medium",50.0
1,11/11/2013,"Batangas City Public Market, Batangas","Bangus, Medium",140.0
2,11/11/2013,"Batangas City Public Market, Batangas",Blackpepper,320.0
3,11/11/2013,"Batangas City Public Market, Batangas","Cabbage, Baguio/Scorpio/RB/KK Etc. Varieties",40.0
4,11/11/2013,"Batangas City Public Market, Batangas","Calamansi, Medium",20.0
...,...,...,...,...
2172,2/11/2013,Mandaluyong Public Market,"Rice, Premium",37.0
2173,2/11/2013,Mandaluyong Public Market,"Rice, Special, Well Milled (Reg. Milled, Ir/C ...",42.0
2174,2/11/2013,Mandaluyong Public Market,"Tilapia, Dead, Medium",100.0
2175,2/12/2013,Mandaluyong Public Market,"Tomato, Green Medium",80.0
2176,2/13/2013,Mandaluyong Public Market,"White Potato, Medium",60.0

In [5]:
mrt12_df = pd.read_csv('data/2012_mrt_hourly_daily_ridership 2.csv')
mrt12_df.head(30)

,month,day,time,north_avenue_entry,north_avenue_exit,quezon_avenue_entry,quezon_avenue_exit,gma_kamuning_entry,gma_kamuning_exit,cubao_entry,...,buendia_entry,buendia_exit,ayala_avenue_entry,ayala_avenue_exit,magallanes_entry,magallanes_exit,taft_entry,taft_exit,Unnamed: 29,Unnamed: 30
0,January,1,03:00 - 03:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
1,January,1,04:00 - 04:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
2,January,1,05:00 - 05:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,910,762,NaN,NaN
3,January,1,06:00 - 06:59,220,-,109,-,37,-,23,...,-,-,-,-,-,-,1553,1496,NaN,NaN
4,January,1,07:00 - 07:59,702,336,387,169,197,120,579,...,155,139,296,310,394,222,2105,1966,NaN,NaN
5,January,1,08:00 - 08:59,1019,613,436,350,211,217,559,...,94,107,229,367,430,267,2276,2126,NaN,NaN
6,January,1,09:00 - 09:59,1345,706,543,375,346,206,855,...,76,88,253,577,551,292,2239,2222,NaN,NaN
7,January,1,10:00 - 10:59,2282,1097,1030,504,475,275,1120,...,75,115,252,1010,806,421,2235,2266,NaN,NaN
8,January,1,11:00 - 11:59,2722,1680,1084,511,584,327,1578,...,86,127,266,1547,931,596,2140,2396,NaN,NaN
9,January,1,12:00 - 12:59,2383,1837,940,622,496,303,1462,...,98,125,346,1095,764,450,2160,2588,NaN,NaN
10,January,1,13:00 - 13:59,2176,1510,877,653,473,298,1638,...,86,183,412,891,743,401,2191,2518,NaN,NaN
11,January,1,14:00 - 14:59,2145,1698,818,673,513,308,1625,...,100,128,515,780,754,460,2179,2575,NaN,NaN
12,January,1,15:00 - 15:59,2213,1714,859,657,500,331,1697,...,133,160,597,899,799,395,2543,2834,NaN,NaN
13,January,1,16:00 - 16:59,2503,1900,891,724,549,370,1769,...,132,144,604,930,813,496,2635,2962,NaN,NaN
14,January,1,17:00 - 17:59,2432,1641,839,858,484,342,1623,...,115,187,595,972,883,493,2758,3055,NaN,NaN
15,January,1,18:00 - 18:59,2456,1706,809,820,553,409,1695,...,157,244,609,925,824,512,2590,2939,NaN,NaN
16,January,1,19:00 - 19:59,2445,1453,682,657,476,345,1529,...,141,214,620,844,670,471,2707,2698,NaN,NaN
17,January,1,20:00 - 20:59,2075,1327,570,780,395,295,1424,...,73,207,1108,637,576,485,2358,2365,NaN,NaN
18,January,1,21:00 - 21:59,1708,1306,263,734,189,305,1072,...,70,196,983,487,370,312,1734,2059,NaN,NaN
19,January,1,22:00 - 22:59,-,739,3,371,6,170,75,...,41,43,300,156,97,73,353,851,NaN,NaN
20,January,1,23:00 - 23:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
21,January,1,00:00 - 00:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
22,January,1,01:00 - 01:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
23,January,1,02:00 - 02:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
24,January,2,03:00 - 03:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,NaN,NaN
25,January,2,04:00 - 04:59,-,-,64,-,53,-,85,...,-,-,-,-,-,-,-,-,NaN,NaN
26,January,2,05:00 - 05:59,2880,260,1087,271,1149,101,1848,...,59,483,68,1009,572,833,1630,1176,NaN,NaN
27,January,2,06:00 - 06:59,6443,652,3482,758,2150,499,2732,...,209,1573,404,2536,1587,1986,4201,2469,NaN,NaN
28,January,2,07:00 - 07:59,9651,1807,3639,2122,1899,1235,2716,...,401,3154,659,4214,2262,3286,6240,4056,NaN,NaN
29,January,2,08:00 - 08:59,6044,1269,2795,1288,1233,860,2731,...,325,2648,643,3891,1984,2976,5593,3726,NaN,NaN

In [10]:
mrt12_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                8784 non-null   object
 1   day                  8784 non-null   int64
 2   time                 8784 non-null   object
 3   north_avenue_entry   8784 non-null   object
 4   north_avenue_exit    8784 non-null   object
 5   quezon_avenue_entry  8784 non-null   object
 6   quezon_avenue_exit   8784 non-null   object
 7   gma_kamuning_entry   8784 non-null   object
 8   gma_kamuning_exit    8784 non-null   object
 9   cubao_entry          8784 non-null   object
 10  cubao_exit           8784 non-null   object
 11  santolan_entry       8784 non-null   object
 12  santolan_exit        8784 non-null   object
 13  ortigas_entry        8784 non-null   object
 14  ortigas_exit         8784 non-null   object
 15  shaw_blvd_entry      8784 non-null   object
 16  shaw_blvd_exit       8784 non-null   object
 17  boni_avenue_entry    8784 non-null   object
 18  boni_avenue_exit     8784 non-null   object
 19  guadalupe_entry      8784 non-null   object
 20  guadalupe_exit       8784 non-null   object
 21  buendia_entry        8784 non-null   object
 22  buendia_exit         8784 non-null   object
 23  ayala_avenue_entry   8784 non-null   object
 24  ayala_avenue_exit    8784 non-null   object
 25  magallanes_entry     8784 non-null   object
 26  magallanes_exit      8784 non-null   object
 27  taft_entry           8784 non-null   object
 28  taft_exit            8784 non-null   object
 29  Unnamed: 29          0 non-null      float64
 30  Unnamed: 30          0 non-null      float64
dtypes: float64(2), int64(1), object(28)
memory usage: 2.1+ MB

In [6]:
mrt13_df = pd.read_csv('data/2013_mrt_hourly_daily_ridership.csv')
mrt13_df.head(30)

,month,day,time,north_avenue_entry,north_avenue_exit,quezon_avenue_entry,quezon_avenue_exit,gma_kamuning_entry,gma_kamuning_exit,cubao_entry,...,guadalupe_entry,guadalupe_exit,buendia_entry,buendia_exit,ayala_avenue_entry,ayala_avenue_exit,magallanes_entry,magallanes_exit,taft_entry,taft_exit
0,January,1.0,03:00 - 03:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,January,1.0,04:00 - 04:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,January,1.0,05:00 - 05:59,367,94,127,57,113,21,316,...,124,56,40,38,100,123,70,84,359,192
3,January,1.0,06:00 - 06:59,533,610,327,247,210,113,597,...,352,278,181,191,379,404,307,256,762,820
4,January,1.0,07:00 - 07:59,678,800,373,426,209,209,724,...,462,364,256,143,458,366,378,290,1079,1174
5,January,1.0,08:00 - 08:59,759,930,421,401,265,221,777,...,500,445,143,104,276,416,415,295,1341,1371
6,January,1.0,09:00 - 09:59,1089,1236,593,433,373,203,1156,...,668,625,118,124,265,481,500,310,1698,1676
7,January,1.0,10:00 - 10:59,1972,1694,807,566,538,250,1621,...,1152,909,106,114,368,892,579,403,2483,2361
8,January,1.0,11:00 - 11:59,2513,2383,1082,608,713,269,1993,...,1401,1272,108,133,436,1374,789,471,2870,2918
9,January,1.0,12:00 - 12:59,2064,2256,984,607,549,290,1979,...,1153,986,93,136,375,951,549,445,2598,3035
10,January,1.0,13:00 - 13:59,1607,2030,853,571,485,248,1903,...,1109,1011,64,143,439,789,584,445,2453,3037
11,January,1.0,14:00 - 14:59,1586,2457,820,709,508,251,2011,...,1213,988,122,128,624,707,590,345,2377,3141
12,January,1.0,15:00 - 15:59,2237,2908,741,783,512,316,2330,...,1150,1136,156,167,687,727,610,408,2955,3602
13,January,1.0,16:00 - 16:59,2535,2941,836,732,609,318,2234,...,1261,1278,153,115,766,782,758,427,3038,3616
14,January,1.0,17:00 - 17:59,2683,2678,862,906,745,355,2259,...,1197,1384,163,250,705,881,788,528,3306,3300
15,January,1.0,18:00 - 18:59,2567,2652,761,837,649,391,2017,...,981,1444,176,278,772,762,724,478,3148,2916
16,January,1.0,19:00 - 19:59,2559,2669,637,871,552,381,1921,...,731,1365,181,272,831,731,684,501,3342,2648
17,January,1.0,20:00 - 20:59,2384,1914,486,810,519,347,1732,...,784,1310,101,365,1136,662,462,482,2631,2251
18,January,1.0,21:00 - 21:59,1691,1568,306,764,238,320,1204,...,592,1036,55,319,980,513,315,383,2228,1802
19,January,1.0,22:00 - 22:59,1,851,11,411,12,169,95,...,121,234,53,86,495,124,113,85,339,512
20,January,1.0,23:00 - 23:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
21,January,1.0,00:00 - 00:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
22,January,1.0,01:00 - 01:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
23,January,1.0,02:00 - 02:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
24,January,2.0,03:00 - 03:59,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
25,January,2.0,04:00 - 04:59,75,-,72,-,156,-,161,...,-,-,-,-,-,-,-,-,-,-
26,January,2.0,05:00 - 05:59,4034,249,1412,268,1074,118,2015,...,553,656,90,648,157,896,559,963,1772,1317
27,January,2.0,06:00 - 06:59,7877,1077,3534,1108,2004,638,2819,...,1412,1512,322,1643,639,2490,1436,2115,4534,3042
28,January,2.0,07:00 - 07:59,10200,1595,3936,1951,1481,1063,2428,...,2444,2199,516,3727,1050,3979,2162,3637,6749,4074
29,January,2.0,08:00 - 08:59,7694,1809,3035,1936,1449,921,2645,...,2437,1718,432,2443,993,3006,1753,2749,6190,4292

In [7]:
ridership_df = pd.read_csv('data/2017_MRT3_Ridership_by_Station_0.csv')
ridership_df.head(30)

        Month        Station      Entry       Exit
0     January   North Avenue  2,171,030  1,251,125
1    February   North Avenue  1,974,639  1,173,156
2       March   North Avenue  2,171,175  1,273,263
3       April   North Avenue  1,718,961  1,014,983
4         May   North Avenue  2,063,065  1,203,944
5        June   North Avenue  1,879,943  1,121,954
6        July   North Avenue  2,020,455  1,213,438
7      August   North Avenue  2,082,851  1,237,564
8   September   North Avenue  1,988,894  1,205,595
9     October   North Avenue  2,073,588  1,242,960
10   November   North Avenue  1,788,670  1,080,852
11   December   North Avenue  1,844,986  1,119,271
12    January  Quezon Avenue    975,489    864,427
13   February  Quezon Avenue    900,077    827,374
14      March  Quezon Avenue  1,004,008    914,923
15      April  Quezon Avenue    769,945    697,407
16        May  Quezon Avenue    925,970    838,516
17       June  Quezon Avenue    847,685    765,379
18       July  Quezon Avenue    922,053    827,140
19     August  Quezon Avenue    959,203    862,197
20  September  Quezon Avenue    916,342    827,260
21    October  Quezon Avenue    951,274    843,104
22   November  Quezon Avenue    816,908    712,596
23   December  Quezon Avenue    847,932    692,902
24    January   GMA Kamuning    471,289    327,637
25   February   GMA Kamuning    437,019    315,384
26      March   GMA Kamuning    481,541    347,035
27      April   GMA Kamuning    363,500    263,704
28        May   GMA Kamuning    440,815    315,525
29       June   GMA Kamuning    425,070    292,485

In [12]:
puj_df = pd.read_csv('data/Road_LTFRB_CO_PUJ_Routes_Units.csv')
puj_df.head(30)

,Route_Name,Franchise_Count,Authorized_Units
0,"Alabang - Baclaran viaSn Dionisio,Zapote",1,1
1,Alabang - Balibago,42,43
2,Alabang - Balibago Sta Rosa Lag. via SSH,71,74
3,Alabang - BiNan via National Rd,202,226
4,Alabang - Calamba via National Rd,204,213
5,Alabang - Carmona,72,85
6,Alabang - Carmona Bulihan,6,6
7,Alabang - Carmona to Buhi,1,1
8,Alabang - Carmona via Expressway,19,19
9,Alabang - GMA Alab Carmona to Bulihan,1,1
10,"Alabang - GMA via Carmona, Expressway",65,108
11,"Alabang - GMA via Carmona, Nat'l Rd",417,432
12,Alabang - GMA via National Road,191,194
13,Alabang - GMA via South Expressway,33,114
14,Alabang - Langgam (San Pedro),6,8
15,Alabang - Muntinlupa via National Road,1,1
16,Alabang - Sta Rosa via Expressway,1,1
17,Alabang-GMA via Carmona to Bulihan,1,1
18,Alabang-GMAviaSouthExpresswayCarmonaExit,3,3
19,Alabang-Queen/s Row via Daang Hari andvv,1,15
20,Angono - Cubao Aurora 20th Ave PTuazon,27,33
21,Angono - EDSA/Shaw Blvd,18,19
22,Angono - NCC Market via Felix Avenue,2,2
23,Angono - Pasig (TP),58,60
24,Angono - Pasig (TP) via Angono Bayan,10,10
25,Angono - Rosario,3,3
26,Angono - Taytay(TP),1,1
27,Angono(Riz)-AgoraMarket(SJ)via Manggahan,1,1
28,Angono-Cubao via Angono,1,2
29,Antipolo - Cubao via Imelda Ave,1,1

In [13]:
puj_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Route_Name        268 non-null    object
 1   Franchise_Count   268 non-null    int64
 2   Authorized_Units  268 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.4+ KB

In [14]:
traveller_df = pd.read_csv('data/2012_dot_list_reg_travellers_in_ph.csv')
traveller_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              342 non-null    object
 1   province_or_city    337 non-null    object
 2   foreign_travelers   336 non-null    object
 3   overseas_filipino   329 non-null    object
 4   domestic_travelers  336 non-null    object
 5   total_2012          337 non-null    object
dtypes: object(6)
memory usage: 16.2+ KB

In [15]:
traveller_df

,region,province_or_city,foreign_travelers,overseas_filipino,domestic_travelers,total_2012
0,NCR (National Capital Region),NCR (National Capital Region),1513402,20048,909212,2442662
1,NCR (National Capital Region),Caloocan City,-,-,-,0
2,NCR (National Capital Region),Las Pinas City,-,-,-,0
3,NCR (National Capital Region),Makati City,-,-,-,0
4,NCR (National Capital Region),Malabon City,-,-,-,0
...,...,...,...,...,...,...
338,DISTRIBUTION OF REGIONAL TRAVELLERS IN THE PHI...,NaN,NaN,NaN,NaN,NaN
339,January-December 2012,NaN,NaN,NaN,NaN,NaN
340,Source of Data: Accommodation Establishments ...,NaN,NaN,NaN,NaN,NaN
341,Prepared by: Tourism Research and Statistics ...,NaN,NaN,NaN,NaN,NaN
342,As of 7 August 2013,NaN,NaN,NaN,NaN,NaN

In [16]:
albay_df = pd.read_csv('data/pagasanormvallegaspialbay1981-2010.csv')
albay_df

,month,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_dir_16pt,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng
0,January,311.7,21,28.8,23.2,26.0,25.7,23.6,22.8,27.7,84,1012.5,NE,3,6,1,1
1,February,236.4,15,29.3,23.2,26.3,26.0,23.7,22.8,27.7,82,1012.7,NE,3,5,1,0
2,March,193.8,17,30.2,23.8,27.0,26.8,24.5,23.7,29.1,83,1012.2,NE,3,5,1,1
3,April,171.2,15,31.6,24.7,28.2,28.0,25.5,24.6,30.9,82,1010.8,NE,3,4,4,2
4,May,186.6,15,32.4,25.3,28.9,28.6,26.1,25.3,32.1,82,1009.3,NE,2,5,11,10
5,June,230.5,17,32.2,25.1,28.6,28.5,26.0,25.2,31.9,82,1008.6,SW,2,6,11,14
6,July,259.8,20,31.5,24.7,28.1,27.8,25.6,24.8,31.3,84,1008.1,SW,2,6,13,11
7,August,222.5,18,31.5,24.8,28.2,27.8,25.6,24.8,31.3,84,1007.7,SW,3,6,10,8
8,September,285.9,19,31.4,24.5,28.0,27.6,25.5,24.8,31.2,84,1008.5,SW,2,6,13,12
9,October,333.0,21,31.0,24.2,27.6,27.3,25.4,24.7,31.1,86,1009.1,NE,2,6,10,10
10,November,480.3,23,30.2,24.2,27.2,27.0,25.1,24.4,30.5,86,1009.9,NE,3,6,6,5
11,December,520.2,23,29.1,23.7,26.4,26.1,24.2,23.5,28.9,85,1011.5,NE,3,6,2,1
12,Annual,3432.1,224,30.8,24.3,27.5,27.3,25.1,24.3,30.3,84,1010.1,NE,3,6,83,75

In [17]:
climate_df = pd.read_csv('data/Table A- CC Expenditures in context of the Overall Budget_v2.1.csv')
climate_df

,department,agency,agency_cd,appropriation_GAA,num_of_paps_tagged_as_cc_expenditure_in_the_gaa,appropriation_for_CC_tagged_PAPs_GAA,percent_of_appropriations_for_CC_tagged_PAPs_GAA,cc_expenditure_as_share_of_appropriations_for_CC_tagged_PAPs_GAA,percent_of_cc_expenditure_in_CC_tagged_PAPs_GAA,cc_expenditures_as_share_of_total_cc_expenditures_GAA
0,Department of Agriculture,Office of the Secretary,DA-OSEC,39001736.0,48,32869421.0,84.0,6515785.0,20.0,5.1
1,Department of Agriculture,Agricultural Credit Policy Council,DA-ACPC,2035659.0,1,2027793.0,100.0,150000.0,7.0,0.1
2,Department of Agriculture,Bureau of Fisheries and Aquatic Resources,DA-BFAR,6315172.0,10,2984544.0,47.0,513831.0,17.0,0.4
3,Department of Agriculture,Philippine Carabao Center,DA-PCC,399009.0,3,363037.0,91.0,202290.0,56.0,0.2
4,Department of Agriculture,Philippine Center for Post-Harvest Development...,DA-PhilMech,204047.0,1,99091.0,49.0,69693.0,70.0,0.1
5,Department of Environment and Natural Resources,Office of the Secretary,DENR-OSEC,18170005.0,14,15882847.0,87.0,9886835.0,62.0,7.7
6,Department of Environment and Natural Resources,Environmental Management Bureau,DENR-EMB,797238.0,4,551674.0,69.0,551674.0,100.0,0.4
7,Department of Environment and Natural Resources,Mines and Geo-Sciences Bureau,DENR-MGB,762822.0,1,220238.0,29.0,147780.0,67.0,0.1
8,Department of Environment and Natural Resources,National Mapping and Resource Information Auth...,DENR-NAMRIA,1138213.0,1,70713.0,6.0,15690.0,22.0,0.0
9,Department of Environment and Natural Resources,National Water Resources Board,DENR-NWRB,86823.0,2,49824.0,57.0,20071.0,40.0,0.0
10,Department of Environment and Natural Resources,Palawan Council for Sustainable Development,DENR-PCSD,62857.0,13,41175.0,66.0,2509.0,6.0,0.0
11,Department of Education,Office of the Secretary,DEPED-OSEC,319230973.0,0,0.0,0.0,0.0,NaN,0.0
12,Department of Education,National Museum,DEPED-NATMU,1652793.0,1,228493.0,14.0,3381.0,1.0,0.0
13,Department of Education,Early Childhood Care and Development Council,DEPED-ECCDC,NaN,0,0.0,NaN,0.0,NaN,0.0
14,Department of Foreign Affairs,Technical Cooperation Council of the Philippines,DFA-TCCP,4367.0,1,3275.0,75.0,1590.0,49.0,0.0
15,Department of Interior and Local Government,Office of the Secretary,DILG-OSEC,15821967.0,1,76000.0,0.0,76000.0,100.0,0.1
16,Department of Interior and Local Government,Local Government Academy,DILG-LGA,211839.0,1,162955.0,77.0,4000.0,2.0,0.0
17,Department of National Defense,National Defense College of the Philippines,DND-NDCP,149783.0,1,21390.0,14.0,697.0,3.0,0.0
18,Department of National Defense,Office of Civil Defense,DND-OCD,1016014.0,2,942817.0,93.0,556596.0,59.0,0.4
19,Department of National Defense,Philippine Navy,DND-PN,13450574.0,1,1733236.0,13.0,20831.0,1.0,0.0
20,Department of Energy,Office of the Secretary,DOE-OSEC,3469772.0,10,2865087.0,83.0,2865087.0,100.0,2.2
21,Department of Labor and Employment,Office of the Secretary,DOLE-OSEC,4167055.0,2,2305777.0,55.0,1151591.0,50.0,0.9
22,Department of Labor and Employment,Institute for Labor Studies,DOLE-ILS,24258.0,1,5573.0,23.0,54.0,1.0,0.0
23,Department of Labor and Employment,National Wage and Productivity Commmission,DOLE-NWPC,167714.0,1,48513.0,29.0,8767.0,18.0,0.0
24,Department of Labor and Employment,Technical Education and Skills Development Aut...,DOLE-TESDA,5319484.0,3,2603282.0,49.0,1674.0,0.0,0.0
25,Department of Science and Technology,Office of the Secretary,DOST-OSEC,3033219.0,1,1538347.0,51.0,734573.0,48.0,0.6
26,Department of Science and Technology,Information and Communications Technology Office,DOST-ICTO,3181911.0,1,42244.0,1.0,982.0,2.0,0.0
27,Department of Science and Technology,"Philippine Atmospheric, Geophysical and Astron...",DOST-PAGASA,3437572.0,20,3254272.0,95.0,3254272.0,100.0,2.5
28,Department of Science and Technology,"Philippine Council for Agriculture, Aquatic an...",DOST-PCAARD,976774.0,30,826061.0,85.0,88312.0,11.0,0.1
29,Department of Science and Technology,"Philippine Council for Industry, Energy and E...",DOST-PCIEERD,616581.0,1,567213.0,92.0,264811.0,47.0,0.2
30,Department of Science and Technology,Philippine Institute of Volcanology and Seismo...,DOST-PHIVOLCS,334210.0,13,267204.0,80.0,267204.0,100.0,0.2
31,Department of Tourism,Office of the Secretary,DOT-OSEC,2286282.0,1,128020.0,6.0,654.0,1.0,0.0
32,Department of Tourism,National Parks Development Committee,DOT-NPDC,153264.0,2,110934.0,72.0,911.0,1.0,0.0
33,Department of Transportation and Communication,Philippine Coast Guard,DOTC-PCG,5607980.0,1,120623.0,2.0,4601.0,4.0,0.0
34,Department of Public Works and Highways,Office of the Secretary,DPWH-OSEC,290470888.0,19,96664911.0,33.0,96614911.0,100.0,75.0
35,Department of Social Welfare and Development,Office of the Secretary,DSWD-OSEC,107857201.0,1,2238905.0,2.0,799286.0,36.0,0.6
36,Department of Social Welfare and Development,Council for the Welfare of Children,DSWD-CWC,38297.0,1,21406.0,56.0,105.0,0.0,0.0
37,Department of Social Welfare and Development,National Youth Commssion,DSWD-NYC,79808.0,1,68454.0,86.0,1469.0,2.0,0.0
38,Department of Trade and Industry,Design Center of the Philippines,DTI-DCP,75185.0,3,64012.0,85.0,22000.0,34.0,0.0
39,Metropolitan Development Authority,Metropolitan Development Authority,MMDA,2188290.0,91,2188290.0,100.0,2166974.0,99.0,1.7
40,National Economic and Development Authority,Philippine Statistics Authority,NEDA-PSA,4951392.0,1,7149.0,0.0,7149.0,100.0,0.0
41,National Economic and Development Authority,Philippine National Volunteer Service Coordina...,NEDA-PNVSCA,18427.0,1,NaN,0.0,NaN,0.0,0.0
42,Other Executive Offices,Climate Change Commission,OEO-CCC,1078250.0,8,1048814.0,97.0,1044592.0,100.0,0.8
43,Other Executive Offices,Housing and Land Use Regulatory Board,OEO-HLURB,189434.0,9,18146.0,10.0,2915.0,16.0,0.0
44,Other Executive Offices,Housing and Urban Development Coordinating Cou...,OEO-HUDCC,119507.0,1,12879.0,11.0,11500.0,89.0,0.0
45,Other Executive Offices,Mindanao Development Authority,OEO-MINDA,99942.0,0,0.0,0.0,0.0,NaN,0.0
46,Other Executive Offices,National Anti-Poverty Commission,OEO-NAPC,154497.0,3,105187.0,68.0,53504.0,51.0,0.0
47,Other Executive Offices,National Historical Commission of the Philippines,OEO-NHCP,788049.0,19,691463.0,88.0,691463.0,100.0,0.5
48,Other Executive Offices,National Commission on Indigenous People,OEO-NCIP,774823.0,2,14081.0,2.0,8834.0,63.0,0.0
49,Other Executive Offices,National Commission on Muslim Filipino,OEO-NCMF,451779.0,0,0.0,0.0,0.0,NaN,0.0
50,Other Executive Offices,Pasig River Rehabilitation Commission,OEO-PRRC,168778.0,4,72195.0,43.0,64403.0,89.0,0.0
51,Presidential Communications Operations Office,Bureau of Broadcast Services,PCOO-BBS,269267.0,2,214620.0,80.0,2280.0,1.0,0.0
52,Presidential Communications Operations Office,Philippine Information Agency,PCOO-PIA,256873.0,1,146862.0,57.0,1041.0,1.0,0.0
53,TOTAL,TOTAL,TOTAL,863318654.0,360,176589047.0,20.0,128875171.0,73.0,100.0

In [25]:
up_df = pd.read_csv('data/UP_StudEnrolmentAY1718_0.csv', encoding='latin')
up_df

   constituent_university education_level  count
0                 Diliman           Basic   1415
1                 Diliman   Undergraduate  14134
2                 Diliman        Graduate  10713
3               Los BaÃ±os           Basic    729
4               Los BaÃ±os   Undergraduate   8385
5               Los BaÃ±os        Graduate  10713
6                  Manila           Basic      0
7                  Manila   Undergraduate   3151
8                  Manila        Graduate   1790
9                 Visayas           Basic    511
10                Visayas   Undergraduate   2433
11                Visayas        Graduate    680
12        Open University           Basic      0
13        Open University   Undergraduate    780
14        Open University        Graduate   2905
15               Mindanao           Basic      0
16               Mindanao   Undergraduate    741
17               Mindanao        Graduate    150
18                 Baguio           Basic      0
19                 Baguio   Undergraduate   1203
20                 Baguio        Graduate   1448
21                   Cebu           Basic    241
22                   Cebu   Undergraduate    877
23                   Cebu        Graduate    310

In [26]:
up_prog_df = pd.read_csv('data/UP_ProgPerEducLevelAY1718_0.csv', encoding='latin')
up_prog_df

   constituent_university education_level              type  count
0                 Diliman   Undergraduate    Pre-Bachelor's      6
1                 Diliman   Undergraduate     Baccalaureate     71
2                 Diliman        Graduate   Post-Bachelor's     14
3                 Diliman        Graduate  Medicine and Law      1
4                 Diliman        Graduate          Master's     95
5                 Diliman        Graduate          Doctoral     49
6               Los BaÃ±os   Undergraduate    Pre-Bachelor's      1
7               Los BaÃ±os   Undergraduate     Baccalaureate     29
8               Los BaÃ±os        Graduate   Post-Bachelor's      0
9               Los BaÃ±os        Graduate  Medicine and Law      0
10              Los BaÃ±os        Graduate          Master's     57
11              Los BaÃ±os        Graduate          Doctoral     31
12                 Manila   Undergraduate    Pre-Bachelor's      2
13                 Manila   Undergraduate     Baccalaureate     20
14                 Manila        Graduate   Post-Bachelor's      6
15                 Manila        Graduate  Medicine and Law      2
16                 Manila        Graduate          Master's     25
17                 Manila        Graduate          Doctoral      5
18                Visayas   Undergraduate    Pre-Bachelor's      0
19                Visayas   Undergraduate     Baccalaureate     27
20                Visayas        Graduate   Post-Bachelor's      1
21                Visayas        Graduate  Medicine and Law      0
22                Visayas        Graduate          Master's      9
23                Visayas        Graduate          Doctoral      1
24        Open University   Undergraduate    Pre-Bachelor's      1
25        Open University   Undergraduate     Baccalaureate      2
26        Open University        Graduate   Post-Bachelor's     15
27        Open University        Graduate  Medicine and Law      0
28        Open University        Graduate          Master's     11
29        Open University        Graduate          Doctoral      2
30               Mindanao   Undergraduate    Pre-Bachelor's      0
31               Mindanao   Undergraduate     Baccalaureate      9
32               Mindanao        Graduate   Post-Bachelor's      2
33               Mindanao        Graduate  Medicine and Law      0
34               Mindanao        Graduate          Master's      1
35               Mindanao        Graduate          Doctoral      0
36                 Baguio   Undergraduate    Pre-Bachelor's      1
37                 Baguio   Undergraduate     Baccalaureate      9
38                 Baguio        Graduate   Post-Bachelor's      0
39                 Baguio        Graduate  Medicine and Law      0
40                 Baguio        Graduate          Master's      5
41                 Baguio        Graduate          Doctoral      2
42                   Cebu   Undergraduate    Pre-Bachelor's      1
43                   Cebu   Undergraduate     Baccalaureate      8
44                   Cebu        Graduate   Post-Bachelor's      0
45                   Cebu        Graduate  Medicine and Law      0
46                   Cebu        Graduate          Master's      4
47                   Cebu        Graduate          Doctoral      0

In [28]:
up_disc_df = pd.read_csv('data/UP_ProgPerDiscAY1718_0.csv', encoding='latin')
up_disc_df

    constituent_university education_level                 discipline  count
0                  Diliman   Undergraduate    Science and Engineering     25
1                  Diliman        Graduate    Science and Engineering     62
2                  Diliman   Undergraduate  Agriculture and Fisheries      0
3                  Diliman        Graduate  Agriculture and Fisheries      0
4                  Diliman   Undergraduate            Social Sciences     18
..                     ...             ...                        ...    ...
107                   Cebu        Graduate                  Education      1
108                   Cebu   Undergraduate                        Law      0
109                   Cebu        Graduate                        Law      0
110                   Cebu   Undergraduate           Arts and Letters      3
111                   Cebu        Graduate           Arts and Letters      0

[112 rows x 4 columns]

In [8]:
xperto_active_df = pd.read_csv('data/xperto_1_day_active_20201001-20210211.csv')
xperto_active_df

    Day Index                  Date Range    Segment  1 Day Active Users
0     10/1/20  Oct 1, 2020 - Feb 11, 2021  All Users                  94
1     10/1/20  Oct 1, 2020 - Feb 11, 2021  New Users                  78
2     10/2/20  Oct 1, 2020 - Feb 11, 2021  All Users                  51
3     10/2/20  Oct 1, 2020 - Feb 11, 2021  New Users                  37
4     10/3/20  Oct 1, 2020 - Feb 11, 2021  All Users                  26
..        ...                         ...        ...                 ...
263    2/9/21  Oct 1, 2020 - Feb 11, 2021  New Users                   9
264   2/10/21  Oct 1, 2020 - Feb 11, 2021  All Users                  17
265   2/10/21  Oct 1, 2020 - Feb 11, 2021  New Users                  12
266   2/11/21  Oct 1, 2020 - Feb 11, 2021  All Users                   8
267   2/11/21  Oct 1, 2020 - Feb 11, 2021  New Users                   2

[268 rows x 4 columns]

In [3]:
manila_df = pd.read_csv('data/Manila_Edgelist.csv')
manila_df

               XCoord        YCoord  START_NODE  END_NODE    EDGE       LENGTH
0       316115.282629  1.545193e+06           1         2       1   345.590492
1       316354.264052  1.545431e+06           2         1       1   345.590492
2       314880.381537  1.545364e+06           3         4       2  1830.520662
3       313784.549758  1.544797e+06           4         3       2  1830.520662
4       316388.322404  1.545464e+06           5         6       3   426.250342
...               ...           ...         ...       ...     ...          ...
657773  287625.418694  1.625028e+06      657229    657227  328615     8.340055
657774  287625.418694  1.625028e+06      657229    657231  328616    25.126948
657775  287607.354993  1.625046e+06      657231    657229  328616    25.126948
657776  287607.354993  1.625046e+06      657231    518437  328617   184.782649
657777  295635.166970  1.626077e+06      657237    524503  328619   618.594933

[657778 rows x 6 columns]