In [1]:
import pandas as pd

In [21]:
df = pd.read_csv("wind/Abra/powerDensity.csv")
df

        val  perc  sel_perc
0   1011.95     2         2
1    832.50     4         4
2    731.44     6         6
3    662.61     8         8
4    610.64    10        10
5    569.44    12        12
6    535.66    14        14
7    507.19    16        16
8    482.71    18        18
9    461.33    20        20
10   442.42    22        22
11   425.48    24        24
12   410.20    26        26
13   396.32    28        28
14   383.62    30        30
15   371.91    32        32
16   361.04    34        34
17   350.90    36        36
18   341.42    38        38
19   332.52    40        40
20   324.14    42        42
21   316.22    44        44
22   308.73    46        46
23   301.63    48        48
24   294.89    50        50
25   288.47    52        52
26   282.35    54        54
27   276.50    56        56
28   270.91    58        58
29   265.55    60        60
30   260.39    62        62
31   255.43    64        64
32   250.64    66        66
33   246.02    68        68
34   241.55    70        70
35   237.22    72        72
36   233.02    74        74
37   228.92    76        76
38   224.93    78        78
39   221.02    80        80
40   217.19    82        82
41   213.44    84        84
42   209.76    86        86
43   206.15    88        88
44   202.60    90        90
45   199.11    92        92
46   195.67    94        94
47   192.26    96        96
48   188.88    98        98
49   185.47   100       100

In [20]:
df = pd.read_csv("wind/Abra/windFrequencyRose.csv")
df

    value  sector  center_degrees
0    0.08       1              30
1    0.14       2              60
2    0.15       3              90
3    0.10       4             120
4    0.07       5             150
5    0.06       6             180
6    0.07       7             210
7    0.08       8             240
8    0.08       9             270
9    0.06      10             300
10   0.05      11             330
11   0.06      12             360

In [17]:
df = pd.read_csv("wind/Abra/windPowerRose.csv")
df.head()

   value  sector  center_degrees
0   0.06       1              30
1   0.19       2              60
2   0.29       3              90
3   0.13       4             120
4   0.04       5             150

In [18]:
df = pd.read_csv("wind/Abra/windSpeed.csv")
df.head()

    val  perc  sel_perc
0  8.72     2         2
1  8.21     4         4
2  7.90     6         6
3  7.65     8         8
4  7.45    10        10

In [19]:
df = pd.read_csv("wind/Abra/windSpeedRose.csv")
df

    value  sector  center_degrees
0    0.08       1              30
1    0.17       2              60
2    0.20       3              90
3    0.11       4             120
4    0.06       5             150
5    0.05       6             180
6    0.06       7             210
7    0.08       8             240
8    0.08       9             270
9    0.05      10             300
10   0.03      11             330
11   0.04      12             360